.profilePic {
    height: 2rem;
    width: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    overflow: hidden;
    margin-right: 1rem;
}

.sideWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

@media screen and (max-width: 480px) {
    .sideWrapper {
        display: none;
    }
}

.newChatButton {
    font-size: 20px;
    font-weight: 400;
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 100%;
    cursor: pointer;
    border: none;
}

.pastConvoButton {
    color: rgba(65, 65, 70, 1);
    font-size: 16px;
    font-weight: 700;
    background-color: var(--color-secondary);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
}